{% extends "base.html" %}
{% load static %}
{% block title %}About{% endblock title %}
{% block body %}
<div style="background-color:#faf3d4">
        <h4 class="p-4" style="background-color: rgb(151 73 73 / 29%);">
            <p class="text-center fs-1"><b>Welcome to HOTCAFE  !!!! </b></p><br>

            At HOTCAFE, we are passionate about delivering the perfect cup of coffee to our customers, every time. Our journey began with a simple vision: to create a space where people can indulge in the rich flavors and comforting aromas of expertly brewed coffee. <br><br>
            
            Nestled in the heart of the city, HOTCAFE is more than just a coffee shop; it's a haven for coffee lovers and enthusiasts alike. As you step through our doors, you are greeted by the inviting aroma of freshly ground beans and the warm ambiance of our cozy cafe. Whether you're seeking a quiet spot to work or catching up with friends, HOTCAFE provides the perfect backdrop for every occasion.<br><br>
            
            Our commitment to quality is evident in every aspect of our operation. From sourcing the finest beans from around the world to our meticulously crafted brewing techniques, we take pride in offering a coffee experience that is second to none. Each cup is carefully prepared by our skilled baristas, who pour their expertise and passion into every brew.<br><br>
            
            But HOTCAFE is more than just coffee; it's a place where community thrives. We believe in fostering connections and creating meaningful experiences for our customers. Whether you're a regular visitor or a first-time guest, you'll always be greeted with a smile and treated like family.<br><br>
            
            In addition to our signature coffees, HOTCAFE also offers a delectable selection of pastries, sandwiches, and other treats to complement your beverage of choice. Whether you're craving a flaky croissant or a decadent slice of cake, our menu has something to satisfy every craving.<br><br>
            
            At HOTCAFE, we invite you to slow down, savor the moment, and indulge in the simple pleasure of a great cup of coffee. Join us on a journey of flavor and discovery, where every sip brings you closer to coffee perfection. Welcome to HOTCAFE – where every cup tells a story.        </h4>
</div>
{% endblock body %}

