{% extends "base.html" %}
{% block title %}Contact{% endblock title %}

{% block body %}
<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
    <div class="container">

      <div class="section-header">
        <h2 class="text-white">Contact Us</h2>
        <p class="text-white">Contact HOTCAFE by for ORDERS and other queries</p>
      </div>

    </div>

    <div class="container-fluid ">

        <div class="row gy-5 gx-lg-5">
  
          <div class="col-lg-4 col-md-4 col-sm-12 ">
  
            <div class="info">
              <h3 >Get in touch</h3>
              <p >You can contact thorugh below given contact details </p>
  
              <div class="info-item d-flex">
                <i class="bi bi-geo-alt flex-shrink-0"></i>
                <div>
                  <h4 >Location:</h4>
                  <p > BAGALKOT, BAGALKOT – 587302</p>
                </div>
              </div><!-- End Info Item -->
  
              <div class="info-item d-flex">
                <i class="bi bi-envelope flex-shrink-0"></i>
                <div>
                  <h4 >Email:</h4>
                  <p >rXXXXXXXXXXXXXol@gmail.com</p>
                </div>
              </div><!-- End Info Item -->
  
              <div class="info-item d-flex">
                <i class="bi bi-phone flex-shrink-0"></i>
                <div>
                  <h4 >Call:</h4>
                  <p >+91 XXXXXXXXXXXXx8</p>
                </div>
              </div><!-- End Info Item -->
  
            </div>
  
          </div>
  
          <div class="col-lg-8 col-md-8 col-sm-12">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" placeholder="Message" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading" class="text-white">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message" class="text-white">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div><!-- End Contact Form -->
  
        </div>

    <div class="map col-lg-12 col-md-12 col-sm-12 ">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3825.473241772616!2d75.26906607466492!3d16.502189327702812!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc73c6ab993ddf3%3A0x85b8f4433be53dcd!2sROYAL%20PALACE%20SCHOOL%20%26%20P%20U%20COLLEGE!5e0!3m2!1sen!2sin!4v1712819481450!5m2!1sen!2sin" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div><!-- End Google Maps -->

    

    </div>
  </section><!-- End Contact Section -->

{% endblock body %}

